<div style="margin-left: 50px; width: 250px;">
    <div class="input-group mb-3" style="margin-bottom: 20px;">
        <label for="">Username</label>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="user.username">
    </div>

    <div class="input-group mb-3" style="margin-bottom: 20px;">
        <label for="">Password</label>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" [(ngModel)]="user.password">
    </div>

    <div class="input-group mb-3" style="margin-bottom: 20px;">
        <label for="">Firstname</label>
        <input type="text" class="form-control" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon1" [(ngModel)]="user.firstname">
    </div> 

    <div class="input-group mb-3" style="margin-bottom: 20px;">
        <label for="">Lastname</label>
        <input  type="text" class="form-control" placeholder="Lastname" aria-label="Lastname" [(ngModel)]="user.surname">
    </div>

    <div class="input-group mb-3" style="margin-bottom: 20px;">
        <label for="">Email address</label>
        <input type="text" class="form-control" placeholder="Email address" aria-label="Email address" [(ngModel)]="user.emailAddress">
    </div>
</div>

