<nav class="navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li class="active"><a routerLink="appComponent" routerLinkActive="active">Index</a></li>
        <li class="active"><a routerLink="movie" routerLinkActive="active">Movie</a></li>
        <li class="active"><a routerLink="adminMovie" routerLinkActive="active">Create movie</a></li>
        </ul>
    </div>
</nav>

<body>
<router-outlet></router-outlet>
</body>