<nav class="navbar navbar-light" style="background-color: #1f6191;">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <!-- <li class="active"><a routerLink="appComponent" routerLinkActive="active"><span style="color: white;">Index</span></a></li> -->
        <li class="active"><a routerLink="movie" routerLinkActive="active"><span style="color: white;">Movie</span></a></li>
        <li class="active"><a routerLink="adminMovie" routerLinkActive="active"><span style="color: white;">Create movie</span></a></li>
        <li class="active"><a routerLink="adminMovie" routerLinkActive="active"><span style="color: white;">Log in</span></a></li>
        </ul>
    </div>
</nav>

<body>
<router-outlet></router-outlet>
</body>